@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@keyframes background {
    100% {
        background-position: 15% 34%;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #111111;
    background-image: url(https://i.pinimg.com/originals/83/5a/c6/835ac61b5e27f198494474cc8ede04b8.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    animation: background 6s infinite alternate linear;
    overflow: hidden;
}

.login_class {
    width: 30%;
    padding: 50px 30px 44px;
    border-radius: 1.25rem;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 12px;
}

form {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #659832;
    font-size: 0.9rem;
    text-align: left;
    margin-left: 7%;
    transition: all 0.4s;
}

a:hover {
    color: #89cc41;
    transition: all 400ms linear 0ms;
}

input {
    margin: 0 auto;
    height: 50px;
    width: 80%;
    border: solid 2px #ebebeb;
    font-size: 15px;
    padding: 0 10px;
    margin-bottom: 20px;
    border-radius: 1.25rem;
    transition: all 0.4s;
}

input:hover {
    border: solid 2px #89cc41;
    transition: all 400ms linear 0ms;
}

input:active {
    border: solid 2px #89cc41;
}

button {
    margin: 0 auto;
    height: 50px;
    width: 85%;
    padding: 0 16px;
    margin-top: 20px;
    border-radius: 1.25rem;
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    background-color: #659832;
    color: #f9f9f9;
    transition: all 0.4s;
}

button:hover {
    background-color: #89cc41;
    transition: all 400ms linear 0ms;
    cursor: pointer;
}